body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

#question-container {
    width: 80%;
    margin: 50px auto;
    text-align: center;
}

#choices-container {
    margin-top: 20px;
}

input[type="radio"] {
    display: none;
}

input[type="radio"]:checked + label {
    background-color: #fcae1d; /* Change this to the color you prefer */
    color: #fff; /* Change this to the color you prefer */
}

label {
    display: flex;
    flex-direction: column;
    margin: 5px;
    cursor: pointer;
    padding: 5px 10px;
    border: 3px solid #ccc;
}

button {
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    cursor: pointer;
    margin-top: 20px;
}

button:hover {
    background-color: #0056b3;
}

